{% extends "learn/layout.html" %}


{% block body %}
    


{% if message %}
<div>{{ message }}</div>
{% endif %}
    
<hr>
<h3>Course Form</h3>
<form action = "{% url 'course' %}" method = "POST">
    {% csrf_token %}
    <div class="container">
        <div class="row">
        {% for field in courseform  %}
          <!-- <div class="col-sm-6"> -->
          <div class="form-group">
            <b>{{ field.label_tag }}</b> {{ field }} {{field.errors}}
          </div>
        {% endfor %}
        </div>  
      </div>
    <input class="btn btn-primary" type="submit" value="Register">
</form>

{% endblock %}

        
