{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Learn{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'learn/main.css' %}">
        {% block script %}
        {% endblock %}
    </head>
    <body>
        

    <body>
        
            <h1>Seekhou Aur Sikhaou</h1>
            <hr>
          </header>
        </div>
        {% if user.is_authenticated %}
        <h2>Welcome {{ request.user.first_name }} to your account</h2>
        <h5>Welcome to the {{request.user.type.title}} portal</h5>
        {% else %}
        {% endif %}
        <hr>


        {% if user.is_authenticated and user.is_staff %}
    <a class="btn btn-sm btn-outline-primary" href="{% url 'admin' %}">Admin Home</a>
    <a class="btn btn-sm btn-outline-primary" href="{% url 'logout' %}">Log Out</a>


    {% else %}
    {% endif %}




    {% if user.is_authenticated and not user.is_staff %}
    <a class="btn btn-sm btn-outline-primary" href="{% url 'index' %}">Home</a>
    <a class="btn btn-sm btn-outline-primary" href="{% url 'courses' %}">Courses</a>
    <a class="btn btn-sm btn-outline-primary" href="{% url 'logout' %}">Log Out</a>

    {% else %}
    {% endif %}

    {% if user.is_authenticated and user.is_teacher %}
    <a class="btn btn-sm btn-outline-primary" href="{% url 'create_lecture' %}">Create Lecture</a>
    <a class="btn btn-sm btn-outline-primary" href="{% url 'create_lecturenote' %}">Create Lecture Note</a>
    <!-- <a class="btn btn-sm btn-outline-primary" href="{% url 'create_comment' %}">Create Comments</a> -->
    <a class="btn btn-sm btn-outline-primary" href="{% url 'create_assignment' %}">Create Assignment</a>
    <a class="btn btn-sm btn-outline-primary" href="{% url 'view_submission' %}">View submissions</a>
    <a class="btn btn-sm btn-outline-primary" href="{% url 'create_mark' %}">Submit Marks</a>

    {% else %}
    {% endif %}

    
    {% if user.is_authenticated and user.is_student %}
    
    <a class="btn btn-sm btn-outline-primary" href="{% url 'create_submission' %}">Create Submission</a>
    <a class="btn btn-sm btn-outline-primary" href="{% url 'create_comment' %}">Create Comments</a>
    <a class="btn btn-sm btn-outline-primary" href="{% url 'view_assignment' %}">View Assignments</a>
    <a class="btn btn-sm btn-outline-primary" href="{% url 'view_mark' %}">View Marks</a>

    {% else %}
    {% endif %}

    <hr>
        <div class="container">
            {% block body %}
            {% endblock %}
        </div>
    </body>
</html>