{% extends "learn/layout.html" %}


{% block body %}
    


{% if message %}
<div>{{ message }}</div>
{% endif %}



<h4>The following are the Active Sections for {{course}}</h4>
<hr>
{% for item in activesections %}
    <a href="{% url 'section' item.id %}">
        <h5>Section ID: {{item.id}}</h5>
        <h5>Section Name: {{item.name}}</h5>
        <h5>Section Description: {{item.description}}</h5>
        <h5>Section Teacher ID: {{item.teacher_id}}</h5>
        <h5>Section Start Date: {{item.start_date}}</h5>
        <h5>Section End Date: {{item.end_date}}</h5>
        
        <h5>Section Academic Year: {{item.academic_year}}</h5>
        <h5>Section Academic Term: {{item.academic_term}}</h5>
    </a>
    <hr>
    <br>
{% endfor %}


<h4>The following are the Archived Sections for {{course}}</h4>
<hr>
{% for item in archivedsections %}
    <a href="{% url 'section' item.id %}">
        <h5>Section ID: {{item.id}}</h5>
        <h5>Section Name: {{item.name}}</h5>
        <h5>Section Description: {{item.description}}</h5>
        <h5>Section Teacher ID: {{item.teacher_id}}</h5>
        <h5>Section Start Date: {{item.start_date}}</h5>
        <h5>Section End Date: {{item.end_date}}</h5>
        
        <h5>Section Academic Year: {{item.academic_year}}</h5>
        <h5>Section Academic Term: {{item.academic_term}}</h5>
    </a>
    <hr>
    <br>
{% endfor %}
{% endblock %}

        
